## Introduction To SciKit-Learn 
This notebook will walk you through some of the useful functions of Scikit-Learn Library.

What Are you going to Learn:

    1.An end to end  sklearn workflow
    2.getting the data ready
    3.choose the right estimator/algorithm for our problem
    4.Fit the model/algorithm and use it to make prediction on our data
    5.Evaluating a model
    6.Improve a model
    7.Save and load a trained model
    8.Putting it all together

## 0. And End-to-End Scikit-Learn workflow

In [15]:
#1. Get the data ready
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
heart_disease = pd.read_csv('43 - heart-disease.csv')
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [2]:
# Create X (Feature Matrix)
X = heart_disease.drop('target',axis=1)

#create Y(labels)
Y = heart_disease['target']


#Chose the right model and hyperparameter

from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

# We will keep the defult hyperparameters

clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [3]:
# 3. Fit the model to the tranning data 

from sklearn.model_selection import train_test_split

x_train, x_test,y_train,y_test = train_test_split(X,Y, test_size=0.2)

clf.fit(x_train,y_train);

In [4]:
# Make Prediciton
x_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
109,50,0,0,110,254,0,0,159,0,0.0,2,0,2
240,70,1,2,160,269,0,1,112,1,2.9,1,1,3
23,61,1,2,150,243,1,1,137,1,1.0,1,0,2
171,48,1,1,110,229,0,1,168,0,1.0,0,0,3
249,69,1,2,140,254,0,0,146,0,2.0,1,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,60,0,3,150,240,0,1,171,0,0.9,2,0,2
217,63,1,0,130,330,1,0,132,1,1.8,2,3,3
19,69,0,3,140,239,0,1,151,0,1.8,2,2,2
191,58,1,0,128,216,0,0,131,1,2.2,1,3,3
150,66,1,0,160,228,0,0,138,0,2.3,2,0,1

In [5]:
y_predc = clf.predict(x_test)
y_predc

array([1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0], dtype=int64)

In [6]:
y_test

109    1
240    0
23     1
171    0
249    0
      ..
147    1
217    0
19     1
191    0
150    1
Name: target, Length: 61, dtype: int64

In [7]:
# 4.Evaluate The model on the tranning data and testing data
clf.score(x_train,y_train)

1.0

In [8]:
clf.score(x_test,y_test)

0.7868852459016393

In [9]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test,y_predc))

              precision    recall  f1-score   support

           0       0.82      0.67      0.73        27
           1       0.77      0.88      0.82        34

    accuracy                           0.79        61
   macro avg       0.79      0.77      0.78        61
weighted avg       0.79      0.79      0.78        61

In [10]:
confusion_matrix(y_test, y_predc)

array([[18,  9],
       [ 4, 30]], dtype=int64)

In [11]:
accuracy_score(y_test,y_predc)

0.7868852459016393

In [12]:
# 5. Improve a model 
# Try Different amount of n_estimators
np.random.seed(42)
for i in range(10,100,10):
    print(f"Trying model with {i} estimators...")
    clf = RandomForestClassifier(n_estimators=i).fit(x_train,y_train)
    print(f"Model accuracy on test set:{clf.score(x_test,y_test)*100:.2f}%")
    print("")

Trying model with 10 estimators...
Model accuracy on test set:81.97%

Trying model with 20 estimators...
Model accuracy on test set:77.05%

Trying model with 30 estimators...
Model accuracy on test set:83.61%

Trying model with 40 estimators...
Model accuracy on test set:77.05%

Trying model with 50 estimators...
Model accuracy on test set:78.69%

Trying model with 60 estimators...
Model accuracy on test set:80.33%

Trying model with 70 estimators...
Model accuracy on test set:81.97%

Trying model with 80 estimators...
Model accuracy on test set:83.61%

Trying model with 90 estimators...
Model accuracy on test set:78.69%

In [13]:
 # 6. Save a model and load it
import pickle

pickle.dump(clf,open("random_forest_model_1.pkl","wb"))

In [14]:
loaded_model = pickle.load(open("random_forest_model_1.pkl",'rb'))
loaded_model.score(x_test,y_test)

0.7868852459016393

## 1. Getting our Data ready to be used with machine learning 

    Three main things we have to do:
        1. Split the data into features and labels (usually'x' and 'y')
        2. Filling (also called imputing) or disregarding missing values
        3. Converting non-numerical values to numerical values (also callled feature encoding)

In [16]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [17]:
x = heart_disease.drop('target',axis=1)
x.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [18]:
y = heart_disease['target']
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [19]:
# Split the data into tranning and test sets
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(x,y, test_size = 0.2)

In [20]:
X_train.shape, X_test.shape,Y_train.shape,Y_test.shape

((242, 13), (61, 13), (242,), (61,))

In [21]:
x.shape

(303, 13)

In [22]:
len(heart_disease)

303